/src/Pixsys.Library.Scripts.ScriptInjector/.build/CakeRelease/
/src/Pixsys.Library.Scripts.ScriptInjector/.config/CakeRelease.settings.json
/src/Pixsys.Library.Scripts.ScriptInjector/.vs/
/src/Pixsys.Library.Scripts.ScriptInjector/Pixsys.Library.Scripts.ScriptInjector/bin/
/src/Pixsys.Library.Scripts.ScriptInjector/Pixsys.Library.Scripts.ScriptInjector/obj/
